@{ 
    Layout = "_Layout";
}

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="~/styles/stylesheet.css"/>
</head>

<body>
    <h1>UNKNOWN ENTERPRISES, LLC</h1>
    <h2>Welcome to our app. It's the best app. You've never seen a better app.</h2>
</body>
