@model IEnumerable<ECommerceLabWebApp.Models.Product>

@{ 
    Layout = "_Layout";
}

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="~/styles/stylesheet.css"/>
</head>

<body>
    <h1>Snackmeister Limited</h1>
    <h2>Welcome to our app. We sell the best snacks. You've never had a better snack.</h2>

    @*<section class="row justify-content-center">
        <h2 class="text-center">Our Products</h2>
        @foreach (var product in Model)
        {
            <article class="col-lg-6 p-3">
                <div>
                    <h3 class="text-center">@product.Name</h3>
                    <h4>@product.Description</h4>
                    <h4>@product.Price</h4>
                </div>
            </article>
        }

    </section>*@
</body>
