@page
@model ECommerceLabWebApp.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Log In</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <label asp-for="LoginData.Email">Email</label>
    <input asp-for="LoginData.Email" />
    <span asp-validation-for="LoginData.Email"></span>

    <label asp-for="LoginData.Password">Password</label>
    <input asp-for="LoginData.Password" />
    <span asp-validation-for="LoginData.Password"></span>

    <button type="submit">Log In</button>
</form>
